.fondo{
    position: absolute;
    height : 300px;
    top: 60px;
    border-radius: 10px;
    z-index: -1;
    width: 100%;
}

/* { outline: 1px solid red;}*/

.foto{
    height: 200px;
    width: 200px;
    border-radius:150px;
    border:10px solid rgb(247, 243, 243);
    z-index: 1;
}

h1{
    background-color: black;
    color:#fff;
    margin-top: 0%;
}

section {
    display: flex;
    width: 100%;
}

div {
    width: 100%;
}

.cuadro {
    border: 1px blue dotted padding 10px 5px;
}

hr{
    border-top: 1px solid black;
}

figcaption {
    text-align: center;
    font: oblique bold 120% cursive;
}

article {
    width: 50%;
}

aside{
    width:50%;
}

ul {
    list-style-type: upper-roman;
}

h2{
    background-color:dodgerblue;
    border-radius: 10px;
    color:#fff;
    display:block;
    width:15%;
    text-align: center;
}

body{
    background-color:lightskyblue;
}

.telus{
    height: 110px;
    border-radius: 30px;
    margin-left: 90px;
}

.unlu{
    height:100px;
    border-radius:20px;
    margin-left: 90px;
}

progress{
    margin-left: 50px;
    border: none;
    border-radius: 2rem;
    height: 9px;
    animation: prog 2s linear;
}

a, a:link, a:visited {
    text-decoration: none;
    color: red;
}

figure {
    margin-left: 0px;
}

.contacto{
    background-color: black;
    height: 40px;
}

p {
    font-style: italic;
    font-size: larger;
}


